<!DOCTYPE html>
<html>
    <head>
        <title>index page</title>
    </head>
    <body>
        <div class="index-wrapper">
            <div class="logo">
                <img src="/images/white_pigeon.png">
            </div>
            
            <h1>架空財団 公式サイト</h1>

        </div>
    </body>
</html>