<!DOCTYPE html>
<html>
    <head>
        <title>top page</title>
        <link rel="stylesheet" href="/css/style.css">
        <meta lang="jp">
    </head>
    <body>
        <div class="top-wrapper">
            
            <div class="top-phrase">
                町に、彩りと心地よい静寂を。
            </div>
            <div class="goIndex-button">
                <a href="/index">目次へ</a>
            </div>
            

        </div>
        
    </body>
</html>