a {
    text-decoration: none;
}

.top-wrapper {
    height: 900px;
    width: 100%;

    background-image: url(../images/building.png);
    background-size: cover;
}

.top-phrase {
    padding-top: 120px;
    padding-left: 60px;
    font-size:80px;
}

.goIndex-button {
    list-style: none;
    margin-top: 100px;
    margin-left: 60px;
    font-size: 80px;
    background-color: aqua;
    width: 290px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
    color: #0f0f0f;
    
}

.logo {
    size: 50px;
    width: 700px;
    height: 100px;
    font-size: 60px;
}

.me {
    color: red;
}